@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYbw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}


*,
*::before,
*::after {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html {
	font-weight: 300;
	font-family: 'Open Sans', Calibri, Arial;
	font-size: clamp(20px, 30px, 3vw);
	line-height:1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin:1em 0 0.5em;
}

p {
	margin-bottom:1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
.header__title {
	font-family: 'Roboto Condensed', 'Arial Narrow', Arial;
}

body {
	background-color:#fff;
	color:#333;
	margin:0 auto;
	padding:1em;
	max-width:960px;
	display:flex;
	flex-direction:column;
}

a {
	font-weight:400;
	border-bottom:1px;
}

a:focus,
a:hover {
	color:#125E54;
}

ul {
	margin-left:1em;
}

.header {
	display:flex;
	flex-direction:row;
	align-items: center;
	margin-bottom: 1em;
}

/* .header__title { */
	/* display: block; */
	/* line-height: 1em; */
	/* margin: 0; */
	/* text-transform: uppercase; */
	/* font-size: clamp(20px, 9vw, 70px); */
/* } */

.header__title {
	display: block;
	line-height: 1em;
	margin: 0;
	text-transform: uppercase;
	font-size: clamp(20px, 9vw, 70px);
	position: relative;
	padding-left: 1.65em;
}

.header__title::before {
	content: '';
	display: inline-block;
	position: absolute;
	background-image: url(face.png);
	width: 1.2em;
	height: 2em;
	background-size: cover;
	left: 0;
	margin-top: -0.1em;
	
}

.header__title-complementary {
	display: block;
	font-size: 0.5em;
	font-weight: normal;
	color: #888;
	border-top: 3px solid #1D9686;
	padding: 0;
	line-height: 1em;
	margin-top: 0.2em;
	padding-top: 0.5em;
	text-transform: none;
}

.header__logo {
	width: clamp(40px, 13vw, 90px);
	height:auto;
	margin-right:1em;
}

.main-nav {
	list-style:none;
	padding:0;
	margin:1em 0 0.5em;
}

.main-nav ul {
	list-style:none;
	margin:0;
	padding:0;
}

.main-nav li {
    display: inline-block;
	background-color: #a1ddff;
    transform: skew(-20deg);
    border-radius: 0.25em;
    margin: 0 0.25em 0.5em 0;
	border: 3px solid transparent;
}



.main-nav ul li a {
	padding: 0.25em 0.75em;
	display:inline-block;
	transform: skew(20deg);
	text-decoration:none;
	color:#333;
}

.main-nav a:focus {
	outline: none;
}

.u-right {
	float:right;
	margin:0 0 0.5em 1em;
	max-width:40%;
}

.structural {
	position: absolute;
	top: -999px;
	left: -999px;
	clip-path: circle(0);
	overflow: hidden;
}

h1,
h2,
a,
.u-clr-primary {
	color:#1D9686;
}

.u-clr-complementary {
	color:#aaa;
}

@media screen and (max-width: 230px) {
	.header__title {
		padding-left:0;
	}
	.header__title::before {
		content: none;
	}
}


/* @media (prefers-color-scheme: dark) { */
	/* body { */
		/* background:  #111; color: white;  */
	/* } */
	
	/* h1, */
	/* h2, */
	/* a, */
	/* .u-clr-primary { */
		/* color:#3fb8a8; */
	/* } */
	
	/* .header__title-complementary { */
		/* color: #aaa; */
	/* } */
	
	/* .u-clr-complementary { */
		/* color:#888; */
	/* } */
/* } */